.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__title {
margin: 0;
margin-bottom: 50px;
color: #0B63F6;

}

.container__btn{ 
    width: 150px;
    height: 50px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
}

.container__btn:hover {
    background-position: right center;
}